@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Amal George Thomas<br />
    Globant, WA Bangalore-6399<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@globant.com">Support@globant.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@globant.com">Marketing@globant.com</a>
</address>
